*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: Helvetica;
	line-height: 1.65;
}
input{ padding: 3px; }
ul{ list-style: none; }
nav{
    background-color: #000;
    border-bottom: 2px solid #5F5F5F;
    height: 50px;
    margin-bottom: 1.75em;

}
nav ul{
    padding-left: 10em;
    margin: 0 auto;
    width: 950px;
	height: 50px;
}
nav li{
    display: inline;
    float: left;
}
nav li a{
    border-right: 0.1em solid #5F5F5F;
}
nav a{
    display: inline-block;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #283744;
    text-decoration: none;
    text-align: center;
    width: 150px;
    line-height: 50px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #78777A;
}
nav a#pull {
	display: none;
}

h1{
	padding: 0.5em;
    font-size: 300%;
    font-family: "Oxygen";
    text-shadow:0.03em 0.03em 0.03em white;
    text-align: center;
    letter-spacing: 0.8em;
    line-height: 1;
}
.bienvenue{
    font-family: "Oxygen";
    margin-bottom: 1em;
    color: #260A66;
    letter-spacing: 0.4em;
}
h2{
    font-family:"Oxygen";
    color:#3784F0;
    text-align: center;
}
h3{
    margin-top: 2em;
    color: #260A66;
}
h4{

}
h2, h3, h4, h5, h6{

	margin-bottom: 0.5em;
}

/*ESPACE MEMBRE*/

.connexion{
	float: left;
	width: 18%;
	margin: 1em 1em 1em;
	padding: 1em;
	background-color: #000;
	border: 2px solid #000;
	border-radius: 6px;
}
.connexion h2{
    margin-bottom:40px;
}
.connexion li{
    margin-top:10px;
    text-align: center;
}
.connexion ul li a{
    text-decoration: none;
    color: #FFF;
}
.avatar{
    margin: 0 0 1em 0.25em;
    width:200px;
    height:200px;

}

/*ACCUEIL*/
.centre{
	margin: 1em 1em 1em 23%;
	padding: 1em;
	background-color: #eeeeee;
}
.recherche{
    margin: 4.5em 0em 3em 18em;
}
.barre_recherche{
    width: 24em;
    height: 1.8em;
}
.vali_recherche{
    height: 2.25em;
}
#supersized{
    display:block;
    position:absolute;
    top:0; left:0;
    height:6.5em; 
    width:100%;
}
#supersized img { 
    position:absolute; 
    display:none;
    outline:none;
    border:none; 
    width:100%; height:100%; 
}
#supersized.speed img { 
    -ms-interpolation-mode:nearest-neighbor;
    image-rendering: -moz-crisp-edges; 
}
#supersized.quality img{ 
    -ms-interpolation-mode:bicubic;
    image-rendering: optimizeQuality; 
}
#supersized li{ 
    display:block;
    list-style:none;
    z-index:-30;
    position:absolute;
    overflow:hidden;
    top:0; left:0;
    width:100%; height:100%;
    background:#111; 
}
#supersized a { 
    width:100%;
    height:100%; 
    display:block;
}
#supersized li.prevslide { 
    z-index:-20; 
}
#supersized li.activeslide { 
    z-index:-10;
}
#supersized li.image-loading img{ 
    visibility:hidden; 
}
#supersized li.prevslide img, #supersized li.activeslide img{ 
    display:inline;
}

/*THEMES*/

.themes{
    padding: 40px 0 40px 10px;
}
.themes:after{
    display: table;
    content: '';
    clear: both;
}
.themes div {
    float: left;
    padding: 0px 9px 0px 0px;
    width: 220px;
    text-align: center;
    list-style: none;
}
.themes a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background: none repeat scroll 0% 0% #5F5F5F;
    box-shadow: 0px 1px 0px #5F5F5F;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
}
.themes img {
    display: block;
    width: 100%;
}

.etiquette_gauche {
    margin-left: 30em ;
}
  
/*CARROUSSEL LOGEMENT*/

#carrousel
{
    position:relative;
    height: 23em;
    width: 45em;
    margin:auto;
    border-radius:10px;
    box-shadow: 5px 5px 15px #1c1a19;
    position:relative;
    margin-bottom: 5em;
}
.fleche_carrousel
{
    width:4em;
}
#carrousel2
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
#precedent,#suivant
{
    display:inline-block;
    border-radius: 5px;
    width:30px;
}
.imgg
{
    width: 45em;
    height: 23em;
    border-radius: 10px;
}
.precedent{
    position: absolute;
    top:9em;
    left:0;
}
.suivant{
    position: absolute;
    top:9em;
    right:2.2em;
}
.precedent:hover,.suivant:hover
{
    opacity: 0.8;
}

.info_logement
{
    margin: 5em 7em 4em 7em;
}

.label_profil
{
    margin: 1em 0 1em 0;
}

/*IMAGES_LISTE*/

.img_liste{
    margin: 0 0 1em 0.25em;
    width:200px;
    height:200px;
}


label{
	float: left;
	width: 400px;
	text-align: left;
}
input{
	margin-bottom: 2px;
}
table, tr, td, th{
	border-collapse: collapse;
	border: 1px solid black;
}
fieldset{
    padding: 1em;
    margin-top: 1em;
}
.flottant_droite {
	float: right;
    margin: 1em 2em 0em 0em;
    width: 300px;
    height: 300px;
    border:1px solid #DDD;
    border-radius:5px;

}
span.label_profil {
	font-weight: bold;
}
.label_profil{
    text-decoration: none;
    color: black;
}
.bas{
    clear: both;
    padding: 1em 1em 0em 1em;
    background-color: #000;
}
.bas ul{
    display:inline;
}
.liste_aide, .liste_contactus{
    color: white;
    text-decoration: none;
    text-align: center;
    
}
.liste_logos{
    padding-left: 24em;
}
.liste_aide{
    padding-left: 37.5em;
}
.liste_contactus{
    padding-left: 35em;
}