/*BODY*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background-color: #E9E9E7;
	font-family: Helvetica;
	line-height: 1.65;
}
input{ 
    padding: 3px;
    margin: 1em 0 1em 0;
}
ul{ 
    list-style: none;
}

/*MENU*/

nav{
    background-color: #000;
    border-bottom: 2px solid #5F5F5F;
    height: 50px;
    margin-bottom: 1.75em;
}
nav ul{
    padding-left: 4em;
    margin: 0 auto;
    width: 950px;
	height: 50px;
}
nav li{
    display: inline;
    float: left;
}
nav li a{
    border-right: 0.1em solid #5F5F5F;
}
nav a{
    display: inline-block;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #283744;
    text-decoration: none;
    text-align: center;
    width: 150px;
    line-height: 50px;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #78777A;
}
nav a#pull {
	display: none;
}

.logo_homidays{
    float:left;
    position: absolute;
    left: 2%;
    top:6.1em;
    height: 45px;
    width: 130px;
}


/*TITRE*/

h1{
	padding: 0.5em;
    font-size: 300%;
    font-family: "Oxygen";
    text-shadow:0.03em 0.03em 0.03em white;
    text-align: center;
    letter-spacing: 0.8em;
    line-height: 1;
}
.homidays{
    padding-left:2.5em;
}
.bienvenue{
    font-family: "Oxygen";
    margin-bottom: 1em;
    color: #260A66;
    letter-spacing: 0.2em;
}
h2{
    font-family:"Oxygen";
    color:#3784F0;
    text-align: center;
    font-size: 32px;
}
h3, .profil_note{
    margin-top: 1em;
    color: #260A66;
    font-weight: 700;
    font-size: 1.17em;
}
.h_themes{
    margin-top:1em;
    color:#fff;
}
h2, h3, h4, h5, h6{

	margin-bottom: 0.5em;
}

/*ACCUEIL*/
.accueil{
    background-color: white;
}
.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
    text-decoration: none;
}
#divid
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#260A66;
    text-align: center;
    font-family:"Oxygen";
    font-size: 20px;
}
#divid:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}

/*ESPACE MEMBRE*/

.connexion{
	float: left;
	width: 18%;
	margin: 1em 2%;
	padding: 1em;
	background-color: #000;
	border: 2px solid #000;
	border-radius: 6px;
}
.connexion h2{
    margin-bottom:40px;
}
.connexion li{
    margin-top:10px;
    text-align: center;
}
.connexion ul li a{
    text-decoration: none;
    color: #FFF;
}
.avatar{
    position: relative;
    margin: 0 auto;
    width:200px;
    height:200px;
}
.avatar img{
    min-width: 84%;
    height: auto;
}

/*CONNEXION*/
.form_connexion{
    margin: 3em 1em 8.5em 2.1em;
    padding: 2em;
    background-color: white;
}


/*ACCUEIL*/

.centre{
    float: left;
    width: 74%;
    margin: 2%;
	background-color: #E9E9E7;
}
.recherche{
    margin: 4.5em 0em 3em 18    em;
}
.barre_recherche
{
    width: 28em;
    height: 2.3em
}
.valid_recherche{
    height: 2.25em;
    width: 8em;

}
#supersized{
    display:block;
    position:absolute;
    top:0; left:0;
    height:6.5em; 
    width:100%;
}
#supersized img { 
    position:absolute; 
    display:none;
    outline:none;
    border:none; 
    width:100%; height:100%; 
}
#supersized.speed img { 
    -ms-interpolation-mode:nearest-neighbor;
    image-rendering: -moz-crisp-edges; 
}
#supersized.quality img{ 
    -ms-interpolation-mode:bicubic;
    image-rendering: optimizeQuality; 
}
#supersized li{ 
    display:block;
    list-style:none;
    z-index:-30;
    position:absolute;
    overflow:hidden;
    top:0; left:0;
    width:100%; height:100%;
    background:#111; 
}
#supersized a { 
    width:100%;
    height:100%; 
    display:block;
}
#supersized li.prevslide { 
    z-index:-20; 
}
#supersized li.activeslide { 
    z-index:-10;
}
#supersized li.image-loading img{ 
    visibility:hidden; 
}
#supersized li.prevslide img, #supersized li.activeslide img{ 
    display:inline;
}

/*THEMES*/

.themes{
    padding: 37px 0 45px 22em;
}
.themes:after{
    display: table;
    content: '';
    clear: both;
}
.themes div {
    float: left;
    padding: 0px 9px 0px 0px;
    width: 206px;
    text-align: center;
    list-style: none;
}
.themes a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background: none repeat scroll 0% 0% #000;
    box-shadow: 0px 1px 0px #5F5F5F;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
}
.themes img {
    display: block;
    width: 100%;
}

.etiquette_gauche {
    margin-left: 30em ;
}
  
/*MEMBRES*/

.profil_avatar{
    float: right;
    margin: 1em 8em 0em 0em;    
    width: 300px;
    height: 300px;
    border:1px solid #DDD;
    border-radius:5px;
}
.profil_two{
    float: left;
}
.profil_three{
    float: right;
    margin-right: 12.56em;
}
.profil_four{
    background-color: white;
}
.profil_un{
    background-color: white;
}
.profil_deux {
    background-color: white;
}
.profil_un, .profil_deux, .profil_four{
    position: relative;
    padding: 3em;
    margin-top: 50px;
}
.profil_un:after, .profil_deux:after, .profil_four:after{
    display: table;
    content: '';
    clear: both;
}
.profil_container{
    margin-bottom: 50px;
    background-color: #fff;
}
.profil_container:after{
    display: table;
    content: '';
    clear: left;
}
.profil_element{
    padding: 20px;
    width: 33.3333%;
    float: left;
}



/*CARROUSSEL LOGEMENT*/

#carrousel
{
    position:relative;
    height: 23em;
    width: 45em;
    margin:auto;
    border-radius:10px;
    box-shadow: 5px 5px 15px #1c1a19;
    position:relative;
    margin-bottom: 5em;
}
.fleche_carrousel
{
    width:4em;
}
#carrousel2
{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}
.precedent,.suivant
{
    display:inline-block;
    border-radius: 5px;
    width:30px;
}
.imgg
{
    width: 45em;
    height: 23em;
    border-radius: 10px;
}
.precedent{
    position: absolute;
    top:9em;
    left:0;
}
.suivant{
    position: absolute;
    top:9em;
    right:2.2em;
}
.precedent:hover,.suivant:hover
{
    opacity: 0.8;
}

.info_logement
{
    margin: 5em 7em 4em 7em;
}

.label_profil
{
    margin: 1em 0 1em 0;
}

/*IMAGES_LISTE*/
.centre:after, .liste:after{
    display: table;
    content:'';
    clear: both;
}
.liste{
    position: relative;
    background-color: #fff;
    margin-bottom: 50px;
}
.img_liste{
    width: 400px; height: 250px;
    float: left;
    overflow: hidden;
}
.img_liste img{
    wifdth: auto;
    min-height: 100%;
}
.image_resultat
{
    height: 13em;
    width: 23em;
}
.offre_logement{
    clear:left;
}
/*.info_liste{
    float: left;
}*/
.info_liste span
{
    display: block;
}

label{
	float: left;
	width: 400px;
	text-align: left;
}
input{
	margin-bottom: 2px;
}
table, tr, td, th{
	border-collapse: collapse;
	border: 1px solid black;
}
fieldset{
    padding: 1em;
    margin-top: 1em;
    background-color: white;
}
.flottant_droite {
	float: right;
    margin: 1em 2em 0em 0em;
    width: 300px;
    height: 300px;
    border:1px solid #DDD;
    border-radius:5px;

}
span.label_profil {
	font-weight: bold;
}
.label_profil{
    text-decoration: none;
    color: black;
}
.bas{
    clear: both;
    background-color: #000;
}
.bas_centrer{
    width: 460px;
    display:block;
    margin: 0 auto;
}
.bas_centrer li{
    text-align: center;
    padding: 10px;
}
.liste_aide, .liste_contactus{
    color: white;
    text-decoration: none;
    text-align: center;
}
.liste_logos{
    height: 110px;
    padding: 0 !important;
}

/*CONTACTER ADMIN*/
.form_contact{
    margin: 3em 1em 8.5em 2.1em;
    padding: 2em;
    background-color: white;
}