.ruban{
	height: 120px;
	margin-bottom:20px;
	position:relative;
}
.logo{
	float: left;
	position: relative;
	left: 10px;
	cursor: pointer;
}
.titre{
	font-size: 50px;
	font-family: "Comic Sans MS";
	font-variant: small-caps;
	color: black;
	letter-spacing: 50px;
	text-shadow:2px 2px 2px blue;
	position: relative;
	text-align: center;
}

#nav{
	width: 100%;
	margin: 1.2em 0 10em 0;
	padding: 0;
	list-style: none;
	border: 5px solid #0B3861;
	border-top-color:#086A87;
	border-radius: 6px;
	background-color: #04B4AE;
}
#nav ul li{
	display: inline;
	width: 100%;
	height: 66px;
	padding: 10px 75px;
	border-right: 2px solid #0B3861;
}
#nav ul li a{
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font: 20px/20px sans-serif;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#nav ul li:hover{
	background: #000080;
	color: #fff;
}

#profil{
	position: relative;
	top:20px;
	width: 150px;
	list-style: none;
	background: #2ECCFA;
	overflow: hidden;
	padding: 21px 20px 22px;
	border: 2px solid #2ECCFA;
	border-radius: 6px;
}
.photo_profil {
	border: 2px solid grey;
	float: left;
	margin: 0px 20px;
}
.nom_profil{
	font:20px "Cheddar Jack";
	text-align: center;
}
#profil ul li{
	display: block;
}
#profil ul li a{
	text-decoration: none;
	color: black;
	font: 15px Comic Sans MS;
}

#menu{
	width: 80%;
	margin: -28.8em -5em 10em 13em;
	padding:0;
	list-style: none;
	border-radius: 6px;
	background-color:  #2EFE9A;
}
#menu ul li{
	display: inline;
	width:100%;
	height: 66px;
	margin:10px;
	padding:2px -30px;
}
#menu ul li a{
	color: #0B0B61;
	font-family: Arial, sans-serif;
	font: 15px sans-serif;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
#menu ul li:hover{
	background: #9FF781;
	color: black;
}

.photo_membre{
	margin: -26em 0em 0em 40em;
	border:2px solid grey;
	border-radius:6px;
	float: left;
}
#bulle {
	width:300px;
	height:80px;
	background:#0080FF;
	position: relative;
	left: 920px;
	top: -90px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align:center;
	color: white;
	font: 20px "Cheddar Jack";
	box-shadow: 10px 10px 5px #888888;
}
#bulle:before{
	content:"";
	position: absolute;
	right: 100%;
	top: 26px;
	width: 0px;
	height:0;
	border-top: 13px solid transparent;
	border-right: 26 solid #0080FF;
	border-bottom:13px solid transparent;
}
#identite{
	position: relative;
	margin: -13em 0em 10em 15em;
	left: 26px;
	width: 250px;
	list-style: none;
	background: #A9E2F3;
	overflow: hidden;
	padding: 21px 20px 22px;
	border: 2px solid #2ECCFA;
	border-radius: 6px;
}
.nom_famille{
	text-align: center;
	font: 20px "Cheddar Jack";
}

.content_area{
	position: relative;
	top: -100px;
	margin: 20px 10px 0px 270px;
	width: 900px;
	background: #F5F6CE;
	overflow: hidden;
	padding: ;
	border: 2px solid  #F5F6CE;
	border-radius: 6px;
	font: 17px Comic Sans MS;
}
.section_narrow{
	font:20px "Cheddar Jack";
	border-bottom: 1.2px solid #F3E2A9;
}

.footer{
	width: 100%;
	margin:  0;
	padding: 0;
	list-style: none;
	border: 2px solid grey;
	border-radius: 6px;
	background-color: grey;
}
.footer ul li{
	display: inline;
	width: 100%;
	height: 66px;
	padding: 20px 120px;
}
.footer ul li a{
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font: 20px/20px sans-serif;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
}
.footer ul li:hover{
	background: #A4A4A4;
	color: #fff;
}



















